@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

//font-family: 'Inter', sans-serif;

.header {
    background-color: #151515;
    &__inner {
        padding-top: 40px;
        padding-bottom: 45px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.header-main {
    background-color: transparent;
}

.menu {
    &__list {
        display: flex;
        gap: 35px;
    }
    &__list-link {
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.footer {
    background-color: #151515;
    padding: 50px 0 32px;
    color: #fff;
    &__menu {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    &__menu-list {
        max-width: 250px;
    }
    &__menu-title {
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 20px;
    }
    &__menu-item + .footer__menu-item {
        padding-top: 20px;
    }
}


.app {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 52px;
}

.footer__copy {
    max-width: 800px;
    margin: 0 auto 30px;
    text-align: center;
}

.copy__nav-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.top {
    color: #fff;
    text-align: center;
    &__link {
        background-color: #151515;
        padding: 23px;
        max-width: 430px;
        display: inline-block;
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 700;
    }
}

.title {
    padding-top: 105px;
    padding-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
}